streamlit==1.39.0
boto3==1.35.83
pydub==0.25.1
moviepy==1.0.3
decorator==4.4.2
imageio==2.36.1
imageio-ffmpeg==0.5.1
numpy==1.25.2
proglog==0.1.10
tqdm==4.67.1
pillow==9.5.0
botocore==1.35.83
PyPDF2==3.0.1
python-docx==1.1.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==4.9.3
numpy==1.25.2